:root {
    --white: #fafafa;
    --grey: #eee;
    --dark-grey: #9d9d9d;
    --pink: #eb6aaf;
    --blue: #6a77eb;
    --black: #1a1a1a;
  }
  
  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--blue);
    font-family: "Inter", sans-serif;
    height: 100vh;
    background: var(--blue);
  }
  
  .outer-container {
    background-color: var(--white);
    margin: 50px 24px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .container {
    padding: 0px 10px 10px 10px;
  }
  
  .container form {
    max-width: 100%;
  }
  
  .container label {
    display: block;
    margin-bottom: 5px;
   
  }
  
  .container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--blue);
    border-radius: 5px;
  }
  
  .link {
    text-decoration: none;
    display: flex;
    justify-content: right;
    font-size: 0.7rem;
    color: #1a1a1a;
    font-weight: 600;
  }

  .container-button .button1 {
    width: 100%;
    margin-top: 20px; 
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding-block: 15px;
    text-align: center;
    margin-bottom: 15px;
  }

  .container-button .button2 {
    width: 100%;
    background-color: var(--pink);
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding-block: 15px;
    text-align: center;
   
  }

.container-icons img {
  background-color: #6a77eb;
  padding: 8px;
  border-radius: 30px;
}
.container-icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  margin-bottom: 15px;
}

p{
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 600;
}

  .container-button {
    width: 100%;
  }

form input:focus{
  outline-color: var(--pink);
}

#pergunta{
    color: var(--blue);
    font-weight: bolder;
    font-size: 16px;
    margin-top: 10px;
}

#ou{
    font-size: 10px;
}

.container-button a{
    text-decoration: none;
    color: var(--white);
}

  @media screen and (min-width: 600px) {
    .outer-container {
      margin: 20px auto;
      max-width: 600px;
    }
  }
  
  .bi-person-circle {
    display: block;
    margin: 0 auto;
  }

