:root {
    --white: #FAFAFA;
    --grey: #EEE;
    --dark-grey: #9D9D9D;
    --pink: #EB6AAF;
    --blue: #6A77EB;
    --black: #1A1A1A;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blue);
    font-family: 'Inter', sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom, var(--blue) 60%, var(--white) 40%); 
}

.outer-container {
    background-color: var(--white);
    margin: 120px 24px;
    padding: 30px;
    border-radius: 15px;
    border: 2px var(--black);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.container {
    padding: 35px 10px 10px 10px; 
}

.container form {
    max-width: 100%; 
}

.container label {
    display: block;
    margin-bottom: 5px;
}

.container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 22px;
    border-radius: 7px; 
    border: 1px solid black;
}

.container button {
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    font-size: 13px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 15px 25px;
    margin-left: 25%;
}

.container button a{
    text-decoration: none;
    color: var(--white);
}

@media screen and (min-width: 600px) {
    .outer-container {
        margin: 20px auto; 
        max-width: 600px; 
    }
}

#senha {
    margin-bottom: 30px;
}

  .bi-person-circle {
    display: block;
    margin: 0 auto;
}
