:root {
    --white: #FAFAFA;
    --grey: #EEE;
    --dark-grey: #9D9D9D;
    --pink: #EB6AAF;
    --blue: #6A77EB;
    --black: #1A1A1A;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--blue);
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-inline: 20px;
    display: flex;
    justify-content: left;
}

.img{
    display: flex;
    justify-content: center;
}

h2{
    color: var(--white);
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
    font-family: 'Inter';
    margin-top: 30px;
}

button{
    background-color: var(--white);
    color: var(--black);
    padding: 20px;
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 20px;
    border: 1px solid black;
    margin-top: 20px;
    font-weight: 600;
    
}

.opcoes{
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.opcoes-btn {
    background-color: var(--white);
    color: var(--black);
    padding: 20px;
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

/* Barra de navegação */

nav {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    padding-block: 20px;
    padding-inline: 7%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;

    box-shadow: 0px -1px 10px 2px rgba(157.25, 157.25, 157.25, 0.50);
    
    background-color: var(--white);
}

.nav-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-links .link {
    font-family: 'Inter';
    font-size: 1em;
}

.nav-links .active a{
    color: var(--pink) !important;
}

.nav-links .link a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    text-decoration: none;
}

/* Fim de barra de navegação */