:root {
    --white: #FAFAFA;
    --grey: #EEE;
    --dark-grey: #9D9D9D;
    --pink: #EB6AAF;
    --blue: #6A77EB;
    --black: #1A1A1A;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--blue);
    margin: 0;
    padding: 0;
    height: 100%;
}

.img{
    display: flex;
    margin-left: 130px;
    margin-top: 100px;
}

h2{
    color: var(--white);
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
    font-family: 'Inter';
    margin-top: 30px;
}

button{
    background-color: var(--white);
    color: var(--black);
    padding: 20px;
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 20px;
    border: 1px solid black;
    margin-top: 25px;
    font-weight: 600;
    
}

.opcoes{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 60px;
}

